env:
  global:
    secure: "mBZ1I7TlMQtmGT96/9bH45lvLEbbdPduxrqf9S0zuwCwGCPvGmFntkC99efxsWQ9qpV9q5RHSw9FQAGiuUIr9az4lns2x58NdA0/IrcAOeKc4yNXybekK88F8324xzJFTxhQ4fh4ZcxstYy64bsqGgLDK5RXb8pPRWnwbPpzX07FcSIuSLTOZPm/Yeqm8S+/eVBKS9ItdTx7r5FY4hUtHU9TLTgJ0tti1Dciro4Oy9jSTXqL7G7n2dFXERCpHvCxD/tZPEeDffHuwi+ZbTS5FkSAGCuFU30b3T0x+Vm/MBV/SWbvbVLpxVMgt8JBBo2jvMfZRjoCfefb8nnJdWGILEYAKJ3JTwzaYD2EM8fWi5JhT67ajpxAU257K+eUAmrtU6bHKF2S5u9hXDfkfAA385wU+8fdiPScg/498rNLzTxyYi64zGDkSWHES1R1haLFqEi1gpROYoOcjwkpwgm9HV7wbzWnApsYHzcKJ/Ikfk5rG4ufrzoFVfZFN2e/hl53/3wjHMYQ22tKodeO8n5hm7zqlOMLSdkSyBU3dRYghU4NRnCJ82HLzW6FDDexIZLWgqLVX+PmDS1OP16yCPKXIRrquFYkcgto7XKaE4CLrfnlbUoYcLMcW0DdFLtLUDTPxi/D8iTQNO8oQMc3R0ZJeRJiwGiH2ixyZHG75SeUyGg="
matrix:
  include:
    - language: swift
      os: osx
      osx_image: xcode11.1
      if: (branch = alpha OR branch = internal OR branch = refactor OR branch = master) AND commit_message !~ /(no-deploy)/
      cache:
        yarn: true
        bundler: true
        cocoapods: true
        directories:
          - "$HOME/.yarn-cache"
          - node_modules
          - packages/mobile-app/node_modules
          - packages/mobile-ui/node_modules
      node_js: false
      before_install:
        - gpg --version
        - brew install gnupg@1.4
        - gpg --version
        - echo $super_secret_password | gpg1 --passphrase-fd 0 packages/mobile-app/.env.internal.gpg
        - echo $super_secret_password | gpg1 --passphrase-fd 0 packages/mobile-app/.env.alpha.gpg
        - echo $super_secret_password | gpg1 --passphrase-fd 0 packages/mobile-app/.env.beta.gpg
        - echo $super_secret_password | gpg1 --passphrase-fd 0 packages/mobile-app/.env.production.gpg
        - nvm install 10
        - node --version
        - npm install -g yarn
        - yarn -version
        - gem install fastlane
        - bundle update fastlane
        - echo -e "machine github.com\n  login $GITHUB_API_TOKEN" >> ~/.netrc
        - n=$(which node);n=${n%/bin/node}; chmod -R 755 $n/bin/*; sudo cp -r $n/{bin,lib,share} /usr/local
      install:
        - yarn install
        - yarn pods
        - cd packages/mobile-app/ios
        - bundle install
        - cd ..
        - cd $TRAVIS_BUILD_DIR
      script:
        - chmod 0600 /Users/travis/.netrc
        - cd packages/mobile-app/ios
        - bundle exec fastlane ios beta
        - cd $TRAVIS_BUILD_DIR
      after_success:
        - ".travis/push.sh"

    # Android
    - language: android
      if: (branch = alpha OR branch = internal OR branch = refactor OR branch = master) AND commit_message !~ /(no-deploy)/
      os: linux
      jdk: oraclejdk8
      sudo: required
      android:
        components:
          - platform-tools
          - tools
          - build-tools-26.0.3
          - build-tools-28.0.3
          - android-21
          - android-26
          - android-28
          - sys-img-armeabi-v7a-android-21
          - extra-android-m2repository
          - extra-google-m2repository
          - extra-google-google_play_services
      node_js: false
      before_install:
        - gpg --version
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/android/my-release-key.keystore.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/android/app/src/refactor/google-services.json.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/android/app/src/internal/google-services.json.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/android/app/src/alpha/google-services.json.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/android/app/google-services.json.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/android/democracy2-release-key.keystore.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/.env.internal.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/.env.alpha.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/.env.beta.gpg
        - echo $super_secret_password | gpg --passphrase-fd 0 packages/mobile-app/.env.production.gpg
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo
          sysctl -p
        - nvm install 10
        - node --version
        - npm install -g yarn
        - yarn -version
        - gem install fastlane
        - bundle update fastlane
        - echo -e "machine github.com\n  login $GITHUB_API_TOKEN" >> ~/.netrc
      install:
        - yarn install --no-bin-links
        - cd packages/mobile-app/android
        - bundle install
        - cd ..
        - cd $TRAVIS_BUILD_DIR
      script:
        - chmod 0600 /home/travis/.netrc
        - cd packages/mobile-app/android
        - bundle exec fastlane android internal
        - cd $TRAVIS_BUILD_DIR
      after_success:
        - ".travis/push.sh"
