env:
  global:
    secure: "TNm3z2WKiUfD3tIUrt8JLOJ5XFtYbulfUUsgu124TOCSirCYH05/OQpmtbDvkeydiF+Pw/7Py0tTDTqzMiToTssSNK7tfDuo/77meye0bHN3l1EP/rABT9Se9LEaZaiz4GHNZ66s+xTtKSY86fnm3npV2D9f6MfXHUtdO2A930JBWa5/+R5KoFfhb82tk/WFzQDAufZNY4le9l5+SMPBnV4KJFBZq00ZW4YC5ucihOoRqZUJ7TQ7POYVFUkl6C54CxaL9FHcT+PisLODwniV/A4LFSLa1+BrunvWOKnkRDhjR8zex1JfARX+99/i16WM1Hqnm0ospRvoASWPMUQKuYMNAHWIuHafqf8A7QKyeYAak0orpTLzHCbfNgkwMRCs1Tn2qiI2hkptF8EE1VS5fNIh5TQ4fE+cCUUBiijSUlHwrQ5rpCaVR/c6YmttxXSTa9Eua4qyDx1I412xmisUz0vlUXaKrPHwiF0utk1a+0rk9Sv17kHImBgCbwCbNtzHs3rv3HhWi2LeUt5Ttn7K6EEroT1o1CU1JljrVMPv5CxXrGDzjHvXtG1yEdaHHRH0Jafyahv7faOg0xNolfaZg0mIUNyyIaGUPf4kTaJku+1kJiZdkQOfKaOlo4QFB5mk7PVoRliCwjv/v5Uul6q+amtZdz5EkwIzDTbBMTq0eFI="

cache:
  yarn: true
  directories:
    - "$HOME/.yarn-cache"
    - node_modules
    - packages/mobile-app/node_modules
    - packages/mobile-ui/node_modules
matrix:
  include:
    # - language: swift
    #   os: osx
    #   osx_image: xcode11.1
    #   if: commit_message !~ /(no-deploy)/
    #   node_js: false
    #   before_install:
    #     - nvm install 10
    #     - node --version
    #     - npm install -g yarn
    #     - yarn -version
    #     - gem install fastlane
    #     - echo -e "machine github.com\n  login $GITHUB_API_TOKEN" >> ~/.netrc
    #   install:
    #     - yarn
    #     - yarn pods
    #     - cd packages/mobile-app/ios
    #     - bundle install
    #     - cd $TRAVIS_BUILD_DIR
    #   script:
    #     - cd packages/mobile-app/ios
    #     - bundle exec fastlane ios beta
    #     - cd $TRAVIS_BUILD_DIR
    #   after_success:
    #     - ".travis/push.sh"

    # Android
    - language: android
      if: commit_message !~ /(no-deploy)/
      os: linux
      jdk: oraclejdk8
      sudo: required
      # android:
      #   components:
      #     - platform-tools
      #     - tools
      #     - build-tools-26.0.3
      #     - build-tools-28.0.3
      #     - android-21
      #     - android-26
      #     - android-28
      #     - sys-img-armeabi-v7a-android-21
      #     - extra-android-m2repository
      #     - extra-google-m2repository
      #     - extra-google-google_play_services
      node_js: false
      before_install:
        - echo "$super_secret_password"
        - openssl aes-256-cbc -k "$super_secret_password" -in packages/mobile-app/android/my-release-key.keystore.enc -out packages/mobile-app/android/my-release-key.keystore -d
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo
          sysctl -p
        - nvm install 10
        - node --version
        - npm install -g yarn
        - yarn -version
        - gem install fastlane
        - echo -e "machine github.com\n  login $GITHUB_API_TOKEN" >> ~/.netrc
      install:
        - yarn
        - cd packages/mobile-app/android
        - bundle install
        - cd $TRAVIS_BUILD_DIR
      script:
        - cd packages/mobile-app/android
        - bundle exec fastlane android internal
        - cd $TRAVIS_BUILD_DIR
      after_success:
        - ".travis/push.sh"
