name: Deploy iOS

on:
  workflow_dispatch:
  push:
    branches:
      - internal
      - alpha
      - beta
      - master

concurrency:
  group: deploy-ios
  cancel-in-progress: false

jobs:
  build-ios:
    name: Deploy iOS
    runs-on: macos-12
    steps:
      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_14.2.app'

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version: 16

      - run: yarn install --frozen-lockfile

      - name: install pods
        run: pod install
        working-directory: ios

      # install fastlane dependencies
      - run: gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"
        working-directory: ios

      - run: bundle install
        working-directory: ios

      - run: bundle update fastlane
        working-directory: ios

      - name: Encrypt GPG secure files
        run: |
          brew install gnupg@1.4
          echo ${{ secrets.SUPER_SECRET_PASSWORD }} | gpg1 --no-tty --passphrase-fd 0 ios/AuthKey_3Q9U495BMY.p8.gpg
          echo ${{ secrets.SUPER_SECRET_PASSWORD }} | gpg1 --no-tty --passphrase-fd 0 ios/GoogleService-Info.plist.gpg

      - name: Fix match prompt issue
        run: echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

      - name: Fastlane
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: 'ios deploy --env internal'
          subdirectory: 'ios'
        env:
          TRAVIS_BRANCH: ${{ github.ref }}
          TRAVIS: 'true'
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          CI: true
